body {
  background-color: lightblue;
}
h1, h2 {
  font-family: 'Merriweather', serif;
  color:lightslategray;
}
header {
  background-color: lavender;
}
p, td {
  font-family: 'Mulish', sans-serif;
}
th {
  background-color:lightslategray;
}
tr {
  background-color: lavender;
  border: solid 1px lightslategray;
}
.carrot::after {
  margin-left: 10px;
  content: "(sort)";
  font-size: 18px;
  color: white;
  display:inline-block;
}